.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 408px;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  margin: 30px 0;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.feedback-form label input,
.feedback-form label textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin-top: 8px;
  letter-spacing: 0.04em;
  transition: border-color 0.25s linear;
}

.feedback-form label textarea {
  resize: none;
  max-height: 112px;
}

.feedback-form button {
  display: inline-block;
  align-self: flex-start;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.04em;
  transition: background-color 0.25s linear;
}

.feedback-form button:hover {
  background-color: #6c8cff;
}

.feedback-form label input:hover,
.feedback-form label input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border-color: #000000;
  outline: none;
}

.feedback-form label input:active,
.feedback-form label input:active {
  border-color: #808080;
  outline: none;
}
